@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/font/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

:root {
  --background-color-one: rgba(0, 0, 0, 0.3);
  --background-color-two: rgba(0, 0, 0, 0.5);
  --background-color-three: rgba(0, 0, 0, 0.8);
  --font-color-one: #f8f9fa;
  font-family: "Roboto";
}

* {
  margin: 0;
  padding: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #343a40;
}

/* header styles */
#header {
  padding: 15px 0px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

#header img {
  height: 35px;
  width: 35px;
  margin-right: 5px;
}

#header > div {
  display: flex;
  align-items: center;
  color: var(--font-color-one);
  width: 160px;
}

#header > div > button {
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 7px;
  border: none;
  background-color: var(--background-color-one);
  color: var(--font-color-one);
}

#header div h1 {
  font-size: 32px;
}

#header form {
  position: relative;
  min-width: 250px;
  max-width: 700px;
  width: 30%;
}

#header form input[type="search"] {
  border: none;
  border-radius: 8px;
  height: 35px;
  width: 100%;
  background-color: var(--background-color-two);
  color: white;
  padding: 5px 35px 5px 10px;
}

#header form input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

#header #logo {
  cursor: pointer;
  position: relative;
}

#header #logo img {
  position: relative;
}

#header form img {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 3px;
  top: 3px;
}

#header form #search-results-container {
  width: 100%;
  position: absolute;
  min-height: 25px;
  max-height: 200px;
  overflow: auto;
  border-radius: 8px;
  background-color: var(--background-color-three);
  color: var(--font-color-one);
}

.search-result {
  padding: 10px;
  border-bottom: 1px solid white;
}

.search-result:focus {
  background-color: lightblue;
}

#search-results-message {
  padding: 10px;
  text-align: center;
}

/* loading styles */
.loading {
  animation: rotate 4s infinite linear;
}

#container.start #header #logo img.loading {
  top: 35px;
  left: 35px;
}

#container #header #logo img.loading {
  top: 17px;
  left: 17px;
}

#header form img.loading {
  content: url("/src/assets/sun.png");
  height: 25px;
  width: 25px;
  top: 17px;
  right: -5px;
  cursor: default;
}

/* Main Styles */
#main {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 200px min-content;
  gap: 15px;
  width: 70%;
}

/* Main Card Styles */
#main-card {
  grid-column: 1/2;
}

#main-card .card {
  height: 90%;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: max-content max-content 1fr;
  gap: 5px;
}

#location-container {
  grid-column: 1 / 4;
  font-size: 24px;
  font-weight: 600;
}

#temperature-container {
  padding-right: 40px;
}

#temperature-container h1 {
  font-size: 64px;
}

#main-card #condition-image {
  height: 120px;
}

#main-card .card > p {
  grid-area: 3 / 3 / 4 / 4;
  font-size: 15px;
  justify-self: end;
  align-self: flex-end;
}

#condition-container {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  grid-area: 2 / 3 / 3 / 4;
}

#condition-container img {
  margin-right: 15px;
}

/* Detail card styles */
#detail-card {
  grid-area: 2 / 1 / 3 / 2;
}

#detail-card > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 120px;
  gap: 25px;
  padding: 10px 20px;
  align-content: center;
}

.detail {
  display: flex;
}

.detail p:nth-child(1) {
  font-weight: 600;
}

.detail p:nth-child(2) {
  font-size: 15px;
}

.detail img {
  margin-right: 5px;
  height: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 7px;
}

/* Daily Card Styles */
#daily-card {
  height: max-content;
}

#daily-card .card {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  margin-bottom: 5px;
}

#daily-card .card > p:nth-child(1) {
  font-weight: 600;
}

#daily-card .card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

#daily-card .card img {
  height: 30px;
}

/* Hourly Card Styles */
#hourly-card {
  grid-column: 1 / 3;
}
#hourly-card .card-container {
  display: flex;
  overflow: auto;
  scrollbar-width: none;
}

#hourly-card .card {
  height: 100px;
  flex: 0 0 80px;
  padding: 5px 10px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#hourly-card .card p:nth-child(1) {
  font-weight: 600;
}

#hourly-card .card > img {
  height: 30px;
}

#hourly-card .card div {
  display: flex;
  align-items: center;
}

#hourly-card .card div img {
  height: 16px;
  margin-right: 5px;
}

/* General card styles */
h2 {
  color: white;
}

.card {
  background-color: var(--background-color-one);
  color: white;
  border-radius: 8px;
}

.card-container {
  padding: 5px;
}

/* start page styles */
#container.start {
  justify-content: center;
}

#container.start #header {
  flex-direction: column;
  align-items: center;
  height: 400px;
}

#container.start #header div:nth-child(1) {
  width: min-content;
}

#container.start #header > div:nth-child(3) {
  visibility: hidden;
}

#container.start #header form {
  width: 40%;
  max-width: 1250;
}

#container.start #header div h1 {
  font-size: 45px;
}

#container.start #header div img {
  height: 70px;
  width: 70px;
}

#container.start #main {
  display: none;
}
